#######################################################################################################################
#
# Requirements used for the Donner virtual channel communication overhead project
#
# Install with
# pip install -r requirements.txt
#
#######################################################################################################################

bitcoin-utils